.register-form {
    background-color: #f9f9f9;
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    border-radius: 8px;
  }
  
  .register-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .register-form form {
    display: flex;
    flex-direction: column;
  }
  
  .register-form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .register-form button {
    padding: 10px;
    background-color: #00aced;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .register-form button:hover {
    background-color: #007bb5;
  }
  